.alert {
  position:fixed;
  bottom: 0;
  left: 38%;
  width: 33%;
  z-index:9999;
  display:none;
}

fieldset{
  ul {
    li {
      list-style-type: none;
      float: left;
      margin-right: 70px;
      label {
        cursor: pointer;
      }
    }
  }
}


.monitor_overview {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  input[type=checkbox] {
    opacity: 0;
  }
}

#editButton {
  margin-right: 20px;
}

#monitorForm {
  float: left;
  width: 66%;
}

label > p {
  width: 100%;
  text-align: center;
}

#monitorPanel {
  padding: 15px 15px 0px 15px;
  position: relative;
}

#previewPanel {
  float: left;
  margin-left: 10px;
  width: 33%;
}

#previewPanel > .panel-body {
  h2 {
    width: 100%;
    text-align: center;
  }
}

