<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
  <testsuites>
    <testsuite name="suite">
      <file>AddTest.php</file>
      <file>DeleteTest.php</file>
      <file>AttachTest.php</file>
      <file>QueryTest.php</file>
      <file>ResponseTest.php</file>
      <file>UploadTest.php</file>
      <file>UserHandlerTest.php</file>
      <file>UserTest.php</file>
      <file>ResourceTest.php</file>
      <file>ContentManagerTest.php</file>
    </testsuite>
  </testsuites>
<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
	<file>../../src/php/add.php</file>
	<file>../../src/php/attach.php</file>
	<file>../../src/php/delete.php</file>
	<file>../../src/php/dbquery.php</file>
	<file>../../src/php/upload.php</file>
	<file>../../src/php/User.php</file>
	<file>../../src/php/Resource.php</file>
	<file>../../src/php/ServerWrapper.php</file>
	<file>../../src/php/Response.php</file>
	<file>../../src/php/ContentManager.php</file>
  </whitelist>
</filter>
</phpunit>